# Eclipse Core      
spring-boot-web/.project

# JDT-specific (Eclipse Java Development Tools)     
spring-boot-web/.classpath
spring-boot-web/target
spring-boot-web/src/*


logs/
deployment**/
*.jar
*.pem

### MAC ###
.DS_Store

.vscode