# Eclipse Core      
.project

# JDT-specific (Eclipse Java Development Tools)     
.classpath

logs/
deployment**/
*.jar
*.pem

### MAC ###
.DS_Store

.vscode
spring-rest-api/target
spring-rest-api/src/**