# Eclipse Core      
spring-rest-api/.project

# JDT-specific (Eclipse Java Development Tools)     
spring-rest-api/.classpath



logs/
deployment**/
*.jar
*.pem

### MAC ###
.DS_Store

.vscode
spring-rest-api/target
spring-rest-api/src/**